.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #333;
    border-bottom: 1px solid #ccc;

        .folder {
            margin-left: 40px;
            cursor: pointer;
            color: #fff;
            line-height: 16px;

            img {
                width: 34px;
                height: 34px;
            }
        }

        .message {
            width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #99CC99;

            .info {
                color: #eee;
            }

            .error {
                color: #FF6347;
            }

            .success {
                color: #99CC99;
            }
        }
}
